.offices
  padding: 0
  padding-top: 24px
  // helper
  +outline-red

  &__title
    padding-bottom: 26px
    font-size: 1.3125em
    font-weight: $weight-bold
    text-align: center
    color: $black-ter
    // helper
    +outline-red

  &__links
    display: flex
    justify-content: center
    margin-bottom: 28px
    color: $grey

    .lenina-squire
      margin-right: 26px

    .lenina-squire,
    .october
      position: relative
      padding-bottom: 9px
      cursor: pointer

    .lenina-squire:after,
    .october::after
      content: ''
      position: absolute
      bottom: 0
      left: 50%
      width: 94px
      height: 2px
      margin-left: -47px
      background-color: $grey-lighter

    .is-active-office
      color: $black-ter
      &::after
        height: 3px
        background-color: $project-orange

.map
  background: #e9e5dc url('../images/map1.png') no-repeat
  background-position: center
  background-size: cover
  cursor: pointer
  // helper
  +outline-red

#yandex-map1,
#yandex-map2
  display: none
  height: inherit

.visible-phone
  display: flex
  justify-content: center
  align-items: center

.ymaps-2-1-50-balloon__content
  width: 520px

  ymaps
    width: auto !important

.map-mark
  display: flex
  justify-content: space-between
  padding-top: 30px
  padding-right: 7px
  padding-left: 18px
  padding-bottom: 10px
  font-family: $family-primary
  color: $black-ter

  &__img
    width: 120px

  &__wrapper
    width: 350px

  &__adress
    margin: 0
    margin-bottom: 20px
    font-size: 18px
    font-weight: $weight-bold

  &__description
    margin-bottom: 30px
    font-size: 16px
    font-weight: $weight-normal
    color: $grey

  &__phone
    margin: 0
    margin-bottom: 20px
    font-size: 30px
    font-weight: $weight-bold

  &__button
    width: 182px
    font-size: 15px
    font-weight: $weight-bold
    color: $white
    border-radius: $radius
    background-color: $project-orange
    box-shadow: 0 -2px #cc6605 inset
    transition: all 0.1s ease-in-out
    border: none
    outline: none

    &:hover
      color: $white
      background-color: #cc6605


// tablet from 769px
@media screen and (min-width: $tablet)
  .offices
    &__title
      position: relative
      width: 360px
      margin: 0 auto
      padding-bottom: 49px
      font-size: 1.625em
      &::before,
      &::after
        content: ''
        position: absolute
        top: 13px
        width: 800px
        height: 1px
        background-color: #c5c8c7
      &::before
        right: -835px
      &::after
        left: -835px

    &__links
      margin-bottom: 40px
      font-size: $size-4

      .lenina-squire
        margin-right: 79px

      .lenina-squire,
      .october
        padding-bottom: 14px

      .lenina-squire:after,
      .october::after
        width: 140px
        margin-left: -70px

  .map
    height: 500px

  .visible-phone
    display: none

  #yandex-map1,
  #yandex-map2
    display: block

// widescreen from 1192px
@media screen and (min-width: $widescreen)
  .offices
    padding-top: 57px

    &__title
      font-size: 1.875em
      &::before
        right: -830px
      &::after
        left: -830px
