doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title РАЗ - ДВА ЗАЙМ
    meta(name='description' content='Займ до 60 000 рублей для жителей Приморского края')
    meta(name='keywords' content='микро займ, займ денег, раз-два займ, деньги приморский край')
    link(rel='stylesheet' href='assets/css/normalize.css')
    link(rel='stylesheet' href='assets/css/styles_v0.3.min.css')
  body
    include blocks/header
    include blocks/information
    include blocks/form
    include blocks/recomendation
    include blocks/map
    include blocks/about-company
    include blocks/footer
    include blocks/modal-forms
    include blocks/modal-office
    
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.mask.min.js')
    script(src='assets/js/scrollreveal.min.js')
    script(src='assets/js/swipe.min.js')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    script(src='assets/js/main_v0.3.min.js')
