section.section.about-company
  div.container
    h1.about-company__title.has-text-centered О компании
    div.columns.is-gapless.is-tablet.about-company__wrapper
      div.column.is-half-tablet
        div.about-company__info
          a Св-во и о государственной регистрации
        div.about-company__info
          a Св-во о внесении в реестр МФО
        div.about-company__info
          a Правила выдачи микрозаймов
        div.about-company__info
          a Список лиц, влияющих на решения
        div.about-company__info
          a Обработка персональных данных
      div.column.is-half-tablet
          div.about-company__info
            a Св-во и о государственной регистрации
          div.about-company__info
            a Св-во о внесении в реестр МФО
          div.about-company__info
            a Правила выдачи микрозаймов
          div.about-company__info
            a Список лиц, влияющих на решения
          div.about-company__info
            a Обработка персональных данных
    button.button.about-company__btn(type='button') Вам можно доверять, оставлю заявку
