section.section.about-company
  div.container
    h1.about-company__title.has-text-centered О компании
    div.columns.is-gapless.is-tablet.about-company__wrapper
      div.column.is-half-tablet
        div.about-company__info
          a(href='files/1.pdf') Св-во и о государственной регистрации
        div.about-company__info
          a(href='files/2.pdf') Св-во о внесении в реестр МФО
        div.about-company__info
          a(href='files/3.pdf') Правила выдачи микрозаймов
        div.about-company__info
          a(href='files/4.pdf') Список лиц, влияющих на решения
        div.about-company__info
          a(href='files/5.pdf') Обработка персональных данных
      div.column.is-half-tablet
          div.about-company__info
            a(href='files/6.pdf') Св-во и о государственной регистрации
          div.about-company__info
            a(href='files/7.pdf') Св-во о внесении в реестр МФО
          div.about-company__info
            a(href='files/8.pdf') Правила выдачи микрозаймов
          div.about-company__info
            a(href='files/9.pdf') Список лиц, влияющих на решения
          div.about-company__info
            a(href='files/10.pdf') Обработка персональных данных
    button.button.about-company__btn.call-me(type='button') Вам можно доверять, оставлю заявку
