footer.section.footer
  div.container
    div.columns.is-gapless
      div.column
        div.footer__logo
          img(src='assets/images/logo-bottom.png' width='128' height='44')
        div.footer__info
          p.is-mb-15 Займы предоставляются ООО МКК "Раз-Два Займ"
          p Свидетельство в реестре МФО № 1603605007944
          p ОГРН 1162536073996 ИНН 2521014623
      div.column.is-flex-widescreen
        div.footer__navigation.is-hidden-mobile.has-text-right
          ul.footer__navigation-list
            li.footer__navigation-link.go-offices Наши офисы
            li.footer__navigation-link.go-info Акции
            li.footer__navigation-link.go-about О компании
        div.footer__callback
          p.footer__phone 8 (423) 2-973-974
          button.button.is-black.footer__btn(type='button') обратный звонок
          a.footer__email(href='mailto:razdvazaim@inbox.ru') razdvazaim@inbox.ru
  div.footer__copyright
      div.footer__copyright-wrapper
        div.footer__copyright-text
          p МКК «Раз-Два Займ» © 2015—2017
        div.one-pixel.is-hidden-mobile
          a.one-pixel__text(href='http://1pixel.su/' target='_blank') Дизайн сайта — Onepixel 
          button.go-top-btn
