section.section.form
  div.container.z-index-10
    div.form__wrapper
      form.customer-form(action='form.php' method='post')
        div.form-errors
        input(type='text' name='name' placeholder='ФИО')
        input(type='tel' name='tel' placeholder='Номер телефона') 
        div.customer-form__checkbox
          input(type='checkbox' name='checkbox')
          span.customer-form__checkbox-text На обработку персональных данных согласен
        div
          button.button.is-black.customer-form__btn(type='submit') Оформить заявку
