section.section.form
  div.container
    div.form__wrapper
      form.customer-form
        input(type='text' name='name' placeholder='ФИО')
        input(type='tel' name='tel' placeholder='Номер телефона') 
        div.customer-form__checkbox
          input(type='checkbox' name='checkbox')
          span На обработку персональных данных согласен
        div
          button.button.is-black.customer-form__btn(type='submit') Оформить заявку
