header.section.header
  div.container
    div.header__wrapper
      div.header__logo
        img(src='assets/images/logo-top.png' width='116' height='46')
            
      div.header-callback
        p.header-callback__phone 8 (423) 2-973-974
        button.button.header-callback__btn.header-callback__btn--orange.call-me(type='button') обратный звонок 
    
    nav.header__navigation
      ul.header__navigation-list
        li.header__navigation-link Главная
        li.header__navigation-link Наши офисы
        li.header__navigation-link.go-info Акции
        li.header__navigation-link.go-about О компании
    
    h1.header__title
      span Займ 
        br.is-hidden-tablet
        b.
          до 60 000 р.
        br
      | для жителей Приморского края
        
    button.button.is-hidden-tablet.header__btn.header__btn--green(type='button') ПОЗВОНИТЬ НАМ!
