section.section.information
  div.container.z-index-10
    div.columns.is-gapless
      div.column
        p.information__info.passport-icon Нужен только паспорт
      div.column
        p.information__info.time-icon Срок до 6 месяцев
      div.column
        p.information__info.percent-icon Ставка от 0,33% в день
      div.column
        p.information__info.call-icon Одобряем заявки по телефону
