section.section.map
  div#yandex-map
  div.visible-phone-office1
    a(href='https://yandex.ru/maps/?um=constructor%3Ae981302daae433c2769c23a45291ca498a79dc0cf22bdd9470aedea168a18dfd&amp;source=constructorStatic' target='_blank')
      img(src='https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ae981302daae433c2769c23a45291ca498a79dc0cf22bdd9470aedea168a18dfd&amp;width=600&amp;height=250&amp;lang=ru_RU')
