section.section.offices
  h1.offices__title Наши офисы в г. Артем
  div.offices__links
    h3.lenina-squire.is-active-office Площадь Ленина
    h3.october на Октябрьской
  div.map
    div#yandex-map1
    div#yandex-map2.none-js
  
