section.section.offices
  h1.offices__title Наши офисы в г. Артем
  div.offices__links
    h3.lenina-squire.is-active-office Площадь Ленина
    h3.october на Октябрьской
  div.map
    div#yandex-map1
    div#office1.visible-phone
      a(href='https://yandex.ru/maps/?um=constructor%3Af2264d82b5ecb8e0c594f4a53aaed2d5ea92da75d663b1acb4befc4a52c15610&amp;source=constructorStatic' target='_blank')
        img(src='https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Af2264d82b5ecb8e0c594f4a53aaed2d5ea92da75d663b1acb4befc4a52c15610&amp;width=600&amp;height=450&amp;lang=ru_RU' style='border: 0;')
    div#yandex-map2.none-js
    div#office2.visible-phone.none-js
      a(href='https://yandex.ru/maps/?um=constructor%3A5eac3317095b257befe02410a428be95292086e8b76dade7c56da08458b7cd0f&amp;source=constructorStatic' target='_blank')
        img(src='https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A5eac3317095b257befe02410a428be95292086e8b76dade7c56da08458b7cd0f&amp;width=600&amp;height=450&amp;lang=ru_RU' style='border: 0;')
