div.modal.image__office1
  div.modal-background
    div.modal-content
     p.image.office1-photo
      img(src='assets/images/office1.jpg' width='400' alt='Раз-Два ЗАЙМ')
  button.modal-close
div.modal.image__office2
  div.modal-background
    div.modal-content
     p.image.office1-photo
      img(src='assets/images/office2.jpg' width='400' alt='Раз-Два ЗАЙМ')
  button.modal-close
