section.section.recomendation
  div.container
    h1.recomendation__title Бери займы и зарабатывай с Раз-Два Займ
    p.recomendation__text Знаете, что кому-нибудь из знакомых, друзей или клиентов нужны деньги?
    p.recomendation__text Посоветуйте ему обратиться к нам и получите 500 рублей!
    div.slider-pagination
      ul.slider-pagination__list
        li.slider-pagination__link.is-active-slide
        li.slider-pagination__link
        li.slider-pagination__link
        li.slider-pagination__link
    div#slider.slider.swipe
      div.slider__img-wrapper.swipe-wrap
        div.slider__img
          img(src='assets/images/slider-1.png' width='450' height='240' alt='Раз-Два ЗАЙМ')
          p.recomendation__text.slider__text
            | Посоветуйте знакомому обратиться к нам, указав, что о нас он узнал от Вас
        div.slider__img
          img(src='assets/images/slider-2.png' width='450' height='240' alt='Раз-Два ЗАЙМ')
          p.recomendation__text.slider__text
            | Дождитесь, пока знакомый получит займ
        div.slider__img
          img(src='assets/images/slider-3.png' width='450' height='240' alt='Раз-Два ЗАЙМ')
          p.recomendation__text.slider__text
            | Получите 500 рублей в нашем офисе
        div.slider__img
          img(src='assets/images/slider-4.png' width='450' height='240' alt='Раз-Два ЗАЙМ')
          p.recomendation__text.slider__text
            | Приводите больше клиентов и зарабатывайте больше денег!
            | Получите 5000 рублей за 10 привлеченных клиентов!
      //- p.recomendation__text.is-pb-30-tablet Посоветуйте знакомому обратиться к нам, указав, что о нас он узнал от Вас
    div.button-wrapper
      button.button.recomendation__btn.recomendation__btn--orange.call-friend(type='button') Порекомендовать друга
      button.button.recomendation__btn.recomendation__btn--green.call-me(type='button') Хочу взять займ сам!
    small.recomendation__legend
      sup * 
      | Подробности акции узнавайте в наших офисах
      | или по телефонам, указанным на сайте
